#pizzaCreation a, .topping {
  cursor:pointer;
}
.create-pizza, .confirmation, #orderDisplay {
  display:none;
}
select#quantity {
  width:100px;
}
.create-pizza .checkbox {
  margin-left:40px;
}
 #displayPizza .toppings div {
  margin-left:20px;
}
.topping img, .medium img {
  width:120px;
  height:auto;
}
.topping {
  margin-top:5px;
  margin-bottom:5px;
}
.large img {
  width:140px;
  height:auto;
}
.family img {
  width:160px;
  height:auto;
}
.text-center {
  margin:0 auto;
}
.choose-size, .add-toppings {
  text-align: center;
}
.size, #pizzaCost {
  font-weight: bold;
}
.size span, #pizzaCost span {
  font-weight: normal;
}
.remove span {
  color:red;
  cursor: pointer;
}
.order-container .pizza {
  padding: 10px;
  background:#dedede;
  margin-bottom:10px;
}
.order-container .pizza.even {
  background:#ededed;
}
#orderDisplay .remove {
  float:right;
  margin-right: 5px;
  margin-top:5px;
}
.confirmation {
}
